@import '../variables.scss';
.aboutContainer {
    margin-bottom: 2rem;
    .nameContainer {
        // flex-direction: row;
        // display:flex;
        // align-items: center;
        hr {
            display: none;
            // border-top: solid 1px black;
            border-left:0;
            border-right:0;
            border-bottom:0;
            flex: 1;
            height: 0;
        }
        h2 {
            font-family: 'Noto Sans JP', sans-serif;
            font-size: 2rem;
            line-height: 2rem;
            font-weight: 500;
            // border-left: 1px solid black;
            // border-right: 1px solid black;
            margin: 1rem 1rem 0 1rem;
            @media (max-width: 768px) {
                text-align: center;
                font-size: 1.5rem;
            }
        }
    }
}
.projectInfoContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
    }
    .projectInfoLeft {
        width: 50%;
        margin: 1rem;
        max-height:400px;
        overflow:hidden;
        img {
            width: 100%;
        }
        @media (max-width: 768px) {
            width: 90%;
        }
    }
    .projectInfoRight {
        width: 50%;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        @media (max-width: 768px) {
            width: 90%;
        }
    }
    .projectDesc {
        @media (max-width: 768px) {
            margin-bottom: 1rem;
        }
    }
    // .projectTags {
    //     display: flex;
    //     flex-wrap: wrap;
    //     .tag {
    //         padding: 0.1rem 0.5rem;
    //         line-height: 1.5;
    //         background: $tagBackground;
    //         position: relative;
    //         margin-left: 1rem;
    //         height: 1.5rem;
    //         margin: .25rem .5rem;
    //         color: $lightText;
    //     }
    //     .tag:before {
    //         content: "";
    //         position: absolute;
    //         right: 100%;
    //         top: 0;
    //         border-top: 0.85rem solid transparent;
    //         border-right: 0.7rem solid $tagBackground;
    //         border-bottom: 0.85rem solid transparent;
    //     }
    // }
}