$background: #FCFCFC;
$tagBackground: #484452;//was rgb(93 87 107 / 100%);

$navBackground: rgb(72 68 82 / 90%);//was rgb(83 78 95 / 90%);//was rgb(93 87 107 / 90%);// was rgb(153 225 217 / 95%);

$activeButton: rgb(255 255 255 / 80%);//was #00000046;
$activeBtnHover: rgb(255 255 255 / 90%);//was #0000009a;
$activeBtnActive: rgb(255 255 255 / 100%);// was #000000;
$activeBtnText: rgb(72 68 82 / 100%);//was rgb(93 87 107 / 100%);//was #ffffff;

$buttonBorder: rgb(255 255 255 / 50%);//was #0000007c;

$inactiveButton: transparent;// was #00000000;
$inactiveBtnHover: rgb(255 255 255 / 70%);//was #0000007c;
$inactiveBtnActive: rgb(255 255 255 / 80%);//was #000000;
$inactiveBtnText: rgb(255 255 255 / 100%);// wasblack;
$inactiveBtnTextHover:rgb(93 87 107 / 100%);//was #ffffff;

$lightText: #efefef;
$darkText: #484452;//was rgb(93 87 107 / 100%);

$borders: #484452;//was #5D576B;

/**
$background: #FCFCFC;
$tagBackground: #efefef;

$navBackground: rgb(239 239 239 / 95%);

$activeButton: #858585;
$activeBtnHover: #444444;
$activeBtnActive: #000000;
$activeBtnText: #efefef;

$inactiveButton: #efefef;
$inactiveBtnHover: #707070;
$inactiveBtnActive: #000000;
$inactiveBtnText:black;
$inactiveBtnTextHover:#efefef;

$lightText: #efefef;
$darkText: black;
*/